/* reseteo los valores por defecto */
@import url("./reset.css");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,700;1,500&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
/* USO:
   font-family: 'IBM Plex Sans', sans-serif;
   font-family: 'IBM Plex Mono', monospace;  
   font-family: IBMPlexMono-Medium; ASI ESTA EN EL MODELO 
   font-family: IBMPlexSans-SemiBold; ASI ESTA EN EL MODELO */

   
/* cuestiones base para todo el cuerpo html - luego personalizo segun el caso */
* {
  box-sizing: border-box;
}

html {
  /* con esta formula logro un font-size de 16px para un ancho de pantalla de 320 como está en el mockup -  ESCALABLE DESPUES USANDO REM */
  font-size: calc(.8em + 1vw)
}

body{
  color: #060A24;
  font-size: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0;
}

a {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.3em;
}

/* Para el menú hamburguesa -----------------------------------------*/
.burguer #lanzador {
  width: 20px;
  height: 13.5px;
  position: absolute;
  right: 16px;
  top: 18px;
  position: absolute;
  left: -9999px;/* para  que la caja del check  quede invisible detras del label */

}

.burguer label {
  width: 20px;
  height: 13.5px;
  position: absolute;
  right: 16px;
  top: 18px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burguer .burguer-linea {
  height: 2px;
  background-color: #000;
  opacity: 1;
  transform: translateY(0) rotate(0);
  transition: all 0.3s;
}

.burguer ul {
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.burguer a {
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 20px;
  text-shadow: 2px 2px black;
}

.burguer img {
  margin-left: 16px;
  margin-top: 10px;
}

.burguer nav {
  /* oculto la barra de navegación, que se va a volver a mosrtrar cuando el checkbox esté en estado :checked   */
  display: none;
  background-color: #0000EC;
  margin-top: 10px;
}

/* Mediante al selector de hermanos (~) hago que cuando el ckeckbox esta en estado :checked, se muestre el nav, y cuando no lo esté, el menú se oculte.  */
.burguer #lanzador:checked ~ nav {
  /* cuando el checkbox está en estado :checked, muestro la barra de navegación  */
  display: block;
}

/* convierto las tres barritas paralelas en una X cuando el checkbox esta en estado :checked */
.burguer #lanzador:checked ~ label .burguer-linea:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.burguer #lanzador:checked ~ label .burguer-linea:nth-child(2) {
  opacity: 0;
}
.burguer #lanzador:checked ~ label .burguer-linea:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
} 
/* ------------------------------------------------------------- */

/* transformo el menu vertical a horizontal a partir de los 768px */
@media only screen and (min-width: 768px){
  .burguer {
    width: 86.11%;
    height: 80px;
    line-height: 50px;
    margin: auto auto 8.334vw auto;
    display: flex;
    justify-content: space-between;
  }
  
  #lanzador{
    display: none;
    opacity: 0;
  }

  .burguer label {
    display: none;
    opacity: 0;
  }
  
  .burguer img {
    width: 36px;
    height: auto;
    margin:0;
  }
  
  .burguer nav {
    /* para que el menú aparezca siempre, aunque el checkbox haya quedado not checked */
    display: block;
    background-color: #FFFFFF;
  }
  
  .burguer nav ul {
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
  }
  
  .burguer nav ul li a {
    color: #060A24;
    text-shadow: none;
    padding: 10px 0 10px 40px;
  }
  
  .burguer nav ul li a:link {
    color: #060A24;
  }
  
  .burguer nav ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  
  .burguer nav ul li a:active {
    color: #060A24;
    opacity: .56;
    text-decoration: line-through;
  }
}
/* PARA QUE NO CREZCA MAS ALLÁ DE  LOS 1440 */
@media only screen and (min-width: 1440px) {
  .burguer {
    max-width: 1440px;
    margin: auto auto 8.334vw auto;
  }
}

/* Fin NAV con menú hamburguesa -------------------------------------*/

/* TITULO Textos del encabezado -------------------------------------------*/
.encabezado {
  width: 90%;
  margin: auto;
  padding: 12vw 0 1.6rem 0;
}


.titulo {
  /* para que el texto quede en dos filas  */
  width: 90%;
  font-size: 2.25rem;
  line-height: 42px;
}

.strikethrough {
  text-decoration: line-through;
}

.blueColored {
  color: #060a24;
}

.subTitulo {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875em;
  line-height: 22px;
  text-align: justify;
}

.mobile {
  margin-top: 6vw;
}

.desktop {
  display: none;
}

/* Boton animado ------------------------- */
.button {
  display: block;
  color: #060a24;
  font-size: 16px;
  font-weight: 500;
  padding: .5em;
  text-align: center;
  width: 100%;
  line-height: 2.2rem;
  background-color: #00F3BB;
  cursor: pointer;
  margin-top: 10vw;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5); 
  
  /* creo la animación nombre=pulse dura 1.5s y se repite */
  animation: pulse 1.5s infinite;
}

.button:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

/* una vez creada la animación, debo crear los keyframes */
@keyframes pulse {
  /* voy dando estilos en cada momento de la animación */
  /* 0% es antes de que empiece */
  0% {
    /* con esto hago que el boton se haga apenas dos puntos pequeño (1 es igual, 1.5 es un 50% mas grande, 0.5 es un 50% mas chico, etc etc) */
    transform: scale(0.98);
    /* tambien agrego una pequeña sombra gris que no se vea totalmente gris sino que tenga cierta transparencia */
    box-shadow: 0 0 0 0 rgba(95, 95, 95, 0.2);
  }

  /* ahora avanzo en la animación hasta el 70% */
  70% {
    /* con esto hago que el boton se haga de tamaño normal (1 es igual, 1.5 es un %0% mas grande, 0.5 es un 50% mas chico, etc etc) */
    transform: scale(1);
    /* tambien agrego una pequeña sombra gris que no se vea totalmente gris  */
    box-shadow: 0 0 0 25px rgba(95, 95, 95, 0);
  }

  /* ahora configuro el final de la animacion */
  100% {
    /* con esto hago que el boton se haga apenas un punto pequeño (1 es igual, 1.5 es un %0% mas grande, 0.5 es un 50% mas chico, etc etc) */
    transform: scale(0.98);
    /* tambien agrego una pequeña sombra gris que no se vea totalmente gris */
    box-shadow: 0 0 0 0 rgba(95, 95, 95, 0);
  }
}
/* FIN Boton animado ------------------------- */

/* adapto los textos del encabezado a partir de los 768px */
@media only screen and (min-width: 768px) {

  .encabezado {
  width: 72.22%;
  padding: 0 0 1.6rem 0;
  }

  .encabezado p:last-of-type {
    display: inline-block;
    width: 70%;
  }

  .titulo {
    width: 100%;
    font-size: 2.356rem;
    margin-bottom: 16px;
  }

  .blueColored {
  color: #0000EC ;
  }

  .subTitulo {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 56px ;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }

  .button {
    font-size: 18px;
    padding: 0;
    text-align: center;
    width: 226px;
    height: 56px;
    line-height: 55px;
    margin-top: 0;
  }   
}

/* PARA QUE NO CREZCA MAS ALLÁ DE  LOS 1440 */
@media only screen and (min-width: 1440px) {
  .encabezado {
    max-width: 1440px;
    margin: auto;
  }
}
/* FIN Textos del encabezado ----------------------------------------*/

/* SECCIONES ------------------------------------------------------ */
/* EPISODIOS --------------------------------------------*/
.episodios{
  margin-top: 14vh;
  height: 1040px;
  position: relative;
}

/* creo la forma de paralelogramo que va a tener de fondo la seccion Episodios 
va a ocupar el 100% del ancho y de la altura de la seccion 
con un gradiente linear 90º como imágen de fondo*/
.episodios::before {
  content: '';
  /* para que se pase un poco invadiendo la siguiente sección le doy un height un poco superior */
  height: 115%;
  background: rgb(0,0,255);/*por si el navegador no soportara gradiente*/
  background-image: linear-gradient(45deg, #0000A3, #0000FF);
  position: absolute;
  width: 100%;
  
  /* para que se despeguedel encabezado lo ubico de forma absoluta un poco por debajo */
  top: -5%;
  
  /* para que quede por detrás */
  z-index: -1;
  
  /* deformo en un angulo de -6º para que quede como un paralelogramo de lo contrario es sólo un rectángulo */
  -webkit-transform: skew(0, -6deg);
  transform: skew(0, -6deg);
}

.episodios h2 {
  display: inline-block;
  font-size: 36px;
  margin: 0px auto 21px 16px;
  color: #FFFFFF;
}

.contieneArt {
  width: 93.75%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contieneArt iframe {
  margin: 0 0 11px 0;
  border:0;
} 

.episodioSpoti {
  width: 100%;
  height: 232px;
}

/* adapto los EPISODIOS a partir de los 768px */
@media only screen and (min-width: 768px) {
  .episodios {
    height: 780px;
  }
  
  .episodios h2 {
    font-size: 48px;
    margin: 95px auto 35px 200px;
  }

  .episodios::before {
    top: -1%;
    height: 105%;
  }

  .contieneArt {
    width: 86.11%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 47.1%);
    align-content: center;
    gap: 72px;
  }

  .episodios article {
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .episodios {
    height: 760px;
    
    /* PARA QUE NO CREZCA MAS ALLÁ DE  LOS 1440 */
    max-width: 1440px;
    margin: auto;
  }
  .episodios::before {
    top: -1%;
    height: 117%;
  }
}

/* FIN EPISODIOS -------------------------------------------------------*/

/* QUIENES SOMOS --------------------------------------------*/
.venimos {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.venimos img {
  width: 100%;
  height: auto;
  margin-top: 2em;
}

.venimos h2 {
  margin: 2rem 0 0 0;
  font-size: 2.25rem;
  line-height: 2.62rem;
}

.venimos p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
}

.venimos p:first-of-type{
  margin: .5rem 0 1rem 0;
}



/* adapto la seccion de quienes somos  a partir de los 768px */
@media only screen and (min-width: 768px){
  .venimos {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 44% 47%;
    grid-template-rows: 30% 25% 25% 10% 10%;
    column-gap: 5.7%;
  }
  
  .venimos img {
    margin-top: .4em; 
    grid-row: 1 / 4;
  }

  .venimos h2 {
    font-size: 36px;
    margin-top: 3rem;
    line-height: 36px;
  }

  .venimos p {
    width: 100%;
    text-align: left;
    margin-top: 24px;
  }

  .venimos p:last-of-type {
    margin-top: 16px;
  }
}

/* adapto la seccion de quienes somos  a partir de los 1024PX */
@media only screen and (min-width: 1024px){
  .venimos {
    width: 70%;
    grid-template-columns: 44% 43%;
    grid-template-rows: 40% 23% 23% 7% 7%;
    column-gap: 5.7%;
  }
  
  .venimos img {
    grid-row: 1 / 6;
  }

  .venimos h2 {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 1440px){
  .venimos {
    width: 72.22%;
    grid-template-columns: 457.55px 467.98px;
    grid-template-rows: 40% 15% 15% 15% 15%;
    gap: 0;
    column-gap: 5.7%;
    margin-top: .8rem;

    /* PARA QUE NO CREZCA MAS ALLÁ DE  LOS 1440 */
    max-width: 1040px;
    margin: auto;
  }

  .venimos h2 {
    margin-top: 240px;
    font-size: 48px;
  }

  .venimos p {
    font-size: 16px;
  }

  .venimos p:first-of-type {
    grid-area: 2 / 2 / span 1 / span 1;
    margin-top: .5rem;
  }
  .venimos p:last-of-type {
    grid-area: 3 / 2 / span 1 / span 1;
    margin-top: 0;

  }

  .venimos img {
    max-width: 457.56px;
  }
}



/* FIN QUIENES SOMOS `--------------------------------------------*/
/*INVITADOS --------------------------------------------*/
.invitados {
  margin-top: 12%;
  width: 100%;
}
.invitados h2 {
  margin: 0 0 .875rem 1rem;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.62rem;
}

.invitadosGrilla {
  display: flex;
  flex-direction: column;
}

.invitadosGrilla div {
  /* para poder sacar el margen minimo que queda entre imagen e imagen  */
  margin: -1%;
}

.invitadosGrilla img {
  width: 100%;
  height: auto;
}

/* adapto la seccion de invitados a partir de los 768px */
@media only screen and (min-width: 768px){
  .invitados {
    margin-top: 0;
  }
  .invitados h2 {
    margin: 64px auto 36px 200px;
    font-size: 1.8rem;
  }

  .invitadosGrilla {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
  }
}

/* PARA QUE NO CREZCA MAS ALLÁ DE  LOS 1440 */
@media only screen and (min-width: 1440px){
  .invitados{
    max-width: 1440px;
    margin: auto;
  }
}
/*FIN NVITADOS --------------------------------------------*/

/*TEMAS --------------------------------------------*/
.temas {
  margin: 3rem auto auto auto;
  width: 90%;
}

.temas h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.62rem;
}

.temasGrilla {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.temas ul li {
  margin-top: 15%;
}


/* texto debajo de la imagenes de cada tema */
.temas ul li h3 {
  margin: .7rem 0 0 0;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* adapto la seccion de TEMAS a partir de los 768px */
@media only screen and (min-width: 768px) {
  .temas {
    width: 72.22%;
    margin: 64px auto auto auto;
  }

  .temas h2 {
    font-size: 48px;
  }

  .temasGrilla {
    margin: 56px 20px 34px 20px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .temas ul li {
    margin-top: 0;
  }

  .temas ul li h3 {
    font-size: 24px;
    width: 220px;
    line-height: 32px;
  }
}

/* PARA QUE NO CREZCA MAS ALLÁ DE  LOS 1440 */
@media only screen and (min-width: 1440px){
  .temas{
    max-width: 1040px;
    margin: auto;
  }
  .temasGrilla {
    max-width: 1000px;
  }
}
/*FIN TEMAS --------------------------------------------*/

/*NOVEDADES --------------------------------------------*/
.novedades {
  margin: 3rem auto auto auto;
  width: 100%;
  min-height: 340px;
  height: 21.31rem;
  background: rgb(0,0,255);/*por si el navegador no soportara gradiente*/
  background-image: linear-gradient(45deg, #0000A3, #0000FF);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.novedades h2 {
  font-size: 2.25em;
  margin: 0 auto 0 auto;
  width: 60%;
  line-height: 2.5rem;
  color: #FFFFFF;
}

.novedades .button {
  width: 90%;
}

/* adapto la seccion de NOVEDADES a partir de los 768px */
@media only screen and (min-width: 768px) {
  .novedades {
    clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
    height: auto;
  }

  .novedades h2 {
    font-size: 48px;
    margin: 7.3rem auto 1.2rem auto;
  }

  .novedades .button {
    width: 30%;
    height: 56px;
    margin-bottom: 151px;
  }
}

@media only screen and (min-width: 1440px) {
  .novedades {
    max-width: 1440px;
    margin: auto;
  }
  .novedades .button {
    width: 23.959%;
  }
}

/*FIN NOVEDADES --------------------------------------------*/
/* FIN SECCIONES  ------------------ */

/*FOOTER --------------------------------------------*/
.pieDePagina {
  width: 90%;
  margin: auto;
  max-width: 80%;
  height: 120px; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pieDePagina p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.socialesFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pieDePagina li a {
  color: #060A24;
}

/* adapto el FOOTER a partir de los 768px */
@media only screen and (min-width: 768px) {
  .pieDePagina {
    width: 86.11%;
    height: 95px; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .pieDePagina p {
    font-size: 16px;
    height: 16px;
    margin-top: 0;
  }
  
  .socialesFlex {
    width: 234px;
    display: flex;
    justify-content: space-between;
  }
  
  .socialesFlex li {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  .pieDePagina {
    max-width: 1240px;
    margin: auto;
  }
/*FIN FOOTER --------------------------------------------*/