/* reseteo los valores por defecto */
@import url("./reset.css");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,700;1,500&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
/* USO:
   font-family: 'IBM Plex Sans', sans-serif;
   font-family: 'IBM Plex Mono', monospace;  
   font-family: IBMPlexMono-Medium; ASI ESTA EN EL MODELO 
   font-family: IBMPlexSans-SemiBold; ASI ESTA EN EL MODELO */

   
/* cuestiones base para todo el cuerpo html - luego personalizo segun el caso */
* {
  box-sizing: border-box;
}

html {
  /* con esta formula logro un font-size de 16px para un ancho de pantalla de 320 como está en el mockup -  ESCALABLE DESPUES USANDO REM */
  font-size: calc(.8em + 1vw)
}

body{
  color: #060A24;
  font-size: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0;
}

a {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.3em;
}


/* Para el menú hamburguesa -----------------------------------------*/

.respmenu ul {
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.respmenu a {
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 20px;
  text-shadow: 2px 2px black;
}

/* .respmenu input[type="checkbox"], <---Puedo identificarlo así o directamente por el label lanzaMenu*/
.respmenu #lanzaMenu,
.respmenu .fa-bars,
.respmenu .fa-times {
  /* lo siguiente posiciona los iconos de hamburgesa (.fa-bars), la X (.fa-times) y el checkbox uno encima del otro */
  position: absolute;
  /* box-sizing: border-box; */
  right: 16px;
  top: 10px;
  /* -------------------------------------*/
  width: 18px;
  height: 18px;
}

.respmenu img {
  margin-left: 16px;
  margin-top: 10px;
}

.respmenu .fa-bars,
.respmenu .fa-times {
  font-size: 18px;
  /* con pointer-events: none; los iconos de hamburgesa (.fa-bars) y la X (.fa-times) no van a recibir los eventos del ratón, de este modo será el checkbox el que los reciba a pesar de estar debajo de los iconos */
  pointer-events: none;
}

.respmenu #lanzaMenu {
  /* para que no se vea el checkbox PERO SI TENGA PRESENCIA COMO PARA SELECCIONARLO, pongo su opacidad en 0 */
  opacity: 0;
}

.respmenu nav {
  /* oculto la barra de navegación, que se va a volver a mosrtrar cuando el checkbox esté en estado :checked   */
  display: none;
  background-color: #0000EC;
  margin-top: 10px;
}

/* Mediante al selector de hermanos (~) hago que cuando el ckeckbox esta en estado :checked, se muestre el nav, y cuando no lo esté, el menú se oculte.  */
.respmenu #lanzaMenu:checked ~ nav {
  /* cuando el checkbox está en estado :checked, muestro la barra de navegación  */
  display: block;
}

.respmenu #lanzaMenu:checked ~ .fa-bars {
  /* oculto las barras del menu hamburguesa cuando el ckeckbox esté en estado :checked. Se va a volver a mosrtrar cuando el checkbox NO esté en estado :checked. 
  En este momento estoy mostrando la barra de navegacion y debe aparecer el icono X (.fa-times) para cerrarla; en lugar de las 3 barritas hamburguesa (.fa-bars) */
  display: none;
}

.respmenu #lanzaMenu:not(:checked) ~ .fa-times {
  /* oculto el icono X, cuando el ckeckbox NO esté en estado :checked. La X se va a volver a mostrar cuando el checkbox vuelva a estado :checked  */
  /* en este momento NO estoy mostrando la barra de navegación y debe aparecer el ícono hamburguesa que mostrará la barra de navegación al hacerle click (traspasando el click hasta el checkbox debido al atributo pointer-events: none; puesto en los iconos X y barras hamburguesa (.fa-bars y .fa-times) */
  display: none;
}

/* transformo el menu vertical a horizontal a partir de los 768px */
@media only screen and (min-width: 768px){
  
  .respmenu {
    width: 86.11%;
    height: 80px;
    line-height: 50px;
    margin: auto auto 8.334vw auto;
    /* margin-top: 16px; */
    display: flex;
    justify-content: space-between;
  }
  
  .respmenu #lanzaMenu, .fa-bars, .fa-times {
    display: none;
  }
  
  .respmenu img {
    width: 36px;
    height: auto;
    margin:0;
  }
  
  .respmenu nav {
    /* para que el menú aparezca siempre, aunque el checkbox haya quedado not checked */
    display: block;
    
    background-color: #FFFFFF;
  }
  
  .respmenu nav ul {
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
  }
  
  .respmenu nav ul li a {
    color: #060A24;
    text-shadow: none;
    padding: 10px 0 10px 40px;
  }
  
  .respmenu nav ul li a:link {
    color: #060A24;
  }
  
  .respmenu nav ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  
  .respmenu nav ul li a:active {
    color: #060A24;
    opacity: .56;
    text-decoration: line-through;
  }
}
/* Fin NAV con menú hamburguesa -------------------------------------*/


/* TITULO Textos del encabezado -------------------------------------------*/
.encabezado {
  width: 90%;
  margin: auto;
  padding: 10vw 0 1.6rem 0;
}


.titulo {
  /* para que el texto quede en dos filas  */
  width: 90%;
  font-size: 2.25rem;
  line-height: 42px;
}

.strikethrough {
  text-decoration: line-through;
  /* text-align: right; */
}

.blueColored {
  color: #060a24;
}

.subTitulo {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875em;
  line-height: 22px;
  text-align: justify;
}

.mobile {
  margin-top: 6vw;
}

.desktop {
  display: none;
}

/* Boton animado ------------------------- */
.button {
  display: block;
  color: #060a24;
  font-size: 1em;
  font-weight: 500;
  padding: .5em;
  text-align: center;
  width: 100%;
  line-height: 2.2rem;
  background-color: #00F3BB;
  cursor: pointer;
  margin-top: 10vw;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5); 
  
  /* creo la animación nombre=pulse dura 1.5s y se repite */
  animation: pulse 1.5s infinite;
}

.button:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

/* una vez creada la animación, debo crear los keyframes */
@keyframes pulse {
  /* voy dando estilos en cada momento de la animación */
  /* 0% es antes de que empiece */
  0% {
    /* con esto hago que el boton se haga apenas dos puntos pequeño (1 es igual, 1.5 es un 50% mas grande, 0.5 es un 50% mas chico, etc etc) */
    transform: scale(0.98);
    /* tambien agrego una pequeña sombra gris que no se vea totalmente gris sino que tenga cierta transparencia */
    box-shadow: 0 0 0 0 rgba(95, 95, 95, 0.2);
  }

  /* ahora avanzo en la animación hasta el 70% */
  70% {
    /* con esto hago que el boton se haga de tamaño normal (1 es igual, 1.5 es un %0% mas grande, 0.5 es un 50% mas chico, etc etc) */
    transform: scale(1);
    /* tambien agrego una pequeña sombra gris que no se vea totalmente gris  */
    box-shadow: 0 0 0 25px rgba(95, 95, 95, 0);
  }

  /* ahora configuro el final de la animacion */
  100% {
    /* con esto hago que el boton se haga apenas un punto pequeño (1 es igual, 1.5 es un %0% mas grande, 0.5 es un 50% mas chico, etc etc) */
    transform: scale(0.98);
    /* tambien agrego una pequeña sombra gris que no se vea totalmente gris */
    box-shadow: 0 0 0 0 rgba(95, 95, 95, 0);
  }
}
/* FIN Boton animado ------------------------- */

/* adapto los textos del encabezado a partir de los 768px */
@media only screen and (min-width: 768px) {

  .encabezado {
  width: 72.22%;
  padding: 0 0 1.6rem 0;
  }

  .encabezado p:last-of-type {
    display: inline-block;
    width: 70%;

  }


  .titulo {
    /* para que el texto quede en dos filas  */
    width: 100%;
    font-size: 2.356rem;
    margin-bottom: 16px;
  }

  .blueColored {
  color: #0000EC ;
  }

  .subTitulo {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 56px ;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }

  .button {
    font-size: 18px;
    padding: 0;
    text-align: center;
    width: 226px;
    height: 56px;
    line-height: 55px;
    margin-top: 0;
  }   
}
/* FIN Textos del encabezado ----------------------------------------*/

/* SECCIONES ------------------------------------------------------ */
/* EPISODIOS --------------------------------------------*/
.episodios{
  margin-top: 11vh;
  height: 1040px;
  position: relative;
}

/* creo la forma de paralelogramo que va a tener de fondo la seccion Episodios 
va a ocupar el 100% del ancho y de la altura de la seccion 
con un gradiente linear 90º como imágen de fondo*/
.episodios::before {
  content: '';
  /* para que se pase un poco invadiendo la siguiente sección le doy un height un poco superior */
  height: 115%;
  background: rgb(0,0,255);/*por si el navegador no soportara gradiente*/
  background-image: linear-gradient(45deg, #0000A3, #0000FF);
  position: absolute;
  width: 100%;
  
  /* para que se despeguedel encabezado lo ubico de forma absoluta un poco por debajo */
  top: -5%;
  
  /* para que quede por detrás */
  z-index: -1;
  
  /* deformo en un angulo de 6º para que quede como un paralelogramo de lo contrario es sólo un rectángulo */
  -webkit-transform: skew(0, -6deg);
  transform: skew(0, -6deg);
}

.episodios h2 {
  display: inline-block;
  font-size: 36px;
  margin: 0px auto 10px 16px;
  color: #FFFFFF;
}

.episodios article {
  margin: 11px;
}

.episodioSpoti {
  width: 100%;
  height: 232px;
}

/* adapto los EPISODIOS a partir de los 768px */
@media only screen and (min-width: 768px) {

  .episodios {
    height: 760px;
  }
  
  .episodios h2 {
    font-size: 48px;
    margin: 95px auto 26px 200px;
  }

  .episodios::before {
    top: -1%;
  }

  .contieneArt {
    width: 86.11%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 47.1%);
    align-content: center;
    gap: 72px;
  }

  .episodios article {
    margin: 0;
  }
}
/* FIN EPISODIOS -------------------------------------------------------*/

/* QUIENES SOMOS --------------------------------------------*/

.venimos img {
  width: 100%;
  height: auto;
  margin-top: 2em;
  
}

.venimos article h2 {
  margin: 1.4rem 0 0 0;
}

.venimos article p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  margin-top: 1.4rem;
}

.venimos article {
  width: 90%;
  margin: auto;
}


/* adapto la seccion de quienes somos  a partir de los 768px */
@media only screen and (min-width: 768px){

  .venimos {
    width: 72.22%;
    margin: auto;
    display: grid;
    grid-template-columns: 39.2% 44% 16.8%;
  }
  .venimos img {
    margin-top: .4em; 
  }
  .venimos article h2 {
    font-size: 1.76rem;
  }
  .venimos article p {
    font-size: 16px;
    text-align: left;
  }

}



/* FIN QUIENES SOMOS `--------------------------------------------*/
/*INVITADOS --------------------------------------------*/
.invitados {
  margin-top: 12%;
  width: 100%;
}
.invitados h2 {
  margin-left: 1rem;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.62rem;

}

.invitadosGrilla {
  display: flex;
  flex-direction: column;
}

.invitados article div {
  /* para poder sacar el margen minimo que queda entre imagen e imagen  */
  margin: -1%;
}

.invitados article div img {
  width: 100%;
  height: auto;
}
/*FIN NVITADOS --------------------------------------------*/

/*TEMAS --------------------------------------------*/
.temas {
  margin: 3rem auto auto auto;
  width: 100%;
  width: 90%;
}

.temas h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.62rem;
}

.temas ul {
  text-align: center;
}

.temas ul li {
  margin-top: 15%;
}

/* texto debajo de la imagenes de cada tema */
.temas ul li h3 {
  margin: .7rem 0 0 0;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;

}
/*FIN TEMAS --------------------------------------------*/

/*NOVEDADES --------------------------------------------*/
.novedades {
  margin: 3rem auto auto auto;
  width: 100%;
  width: 100%;
  min-height: 340px;
  background: rgb(0,0,255);/*por si el navegador no soportara gradiente*/
  background-image: linear-gradient(45deg, #0000A3, #0000FF);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.novedades h2 {
  font-size: 2.25em;
  margin: 0 auto 0 auto;
  width: 60%;
  line-height: 2.5rem;
  color: #FFFFFF;
}

.novedades .button {
  width: 90%;
}
/*FIN NOVEDADES --------------------------------------------*/
/* FIN SECCIONES  ------------------ */

/*FOOTER --------------------------------------------*/
.pieDePagina {
  width: 90%;
  margin: auto;
  max-width: 80%;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.pieDePagina p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .87em ;
  text-align: center;
}

.pieDePagina ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pieDePagina li a {
  color: #060A24;
}
/*FIN FOOTER --------------------------------------------*/

/* *prueba para un menú activador animado */

/* <div class="burguer">
<input type="checkbox" id="lanzador" />
<label for="lanzador">
  <span class="burguer-linea"></span>
  <span class="burguer-linea"></span>
  <span class="burguer-linea"></span>
</label>
</div>
 */



/* .burguer {
  width: 30px;
  height: 20px;
  margin: 100px auto;
}

.burguer #lanzador {
  position: absolute;
  left: -9999px;
}

.burguer label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

.burguer .burguer-linea {
  height: 2px;
  background-color: #000;
  opacity: 1;
  transform: translateY(0) rotate(0);
  transition: all 0.3s;
}

.burguer #lanzador:checked ~ label .burguer-linea:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burguer #lanzador:checked ~ label .burguer-linea:nth-child(2) {
  opacity: 0;
}

.burguer #lanzador:checked ~ label .burguer-linea:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
} */
